doctype html

html
    head
        meta(charset='utf-8')
        title Teenage-Mutate-Ninja-Turtle
    body
        section#menu
            h1 Teenage-Mutate-Ninja-Turtle

            form(action="/add", method="post")
                label(for="item") Beispiel
                input(type="text", name="item")
                button(type="submit") Beispiel
