div.col-lg-12
    div.row
        div.col-lg-5.offset-lg-1.news-article
            h2.news-article-name Timmi Trinks
            img.news-article-image.img-fluid(src= "/img/news/quer.jpg")
            h3.news-article-headline Hello World
            p.news-article-text
                include ./ipsum
        div.col-lg-5.news-article
            h2.news-article-name Timmi Trinks
            img.news-article-image.img-fluid(src= "/img/news/quer.jpg")
            h3.news-article-headline Hello World
            p.news-article-text
                include ./ipsum
