div.col-lg-12
    div.row
        div.col-lg-6.news-article-less-padding
            h2.news-article-name Ben Münchow
            img.news-article-image.img-fluid(src= "/img/news/2.jpg")
            h3.news-article-headline Auf zu neuen Zeiten.
            p.news-article-text
                include ./ben
        div.col-lg-6.news-article-less-padding
            h2.news-article-name Timmi Trinks
            img.news-article-image.img-fluid(src= "/img/news/4.jpg")
            h3.news-article-headline Sprung ins neue Jahr.
            p.news-article-text
                include ./timmi
