div.col-lg-12
    div.row
        div.col-lg-6.news-article
            div.row
                div.col-lg-6
                    img.news-article-image.img-fluid(src= "/img/news/quer.jpg")
                div.col-lg-6
                    h2.news-article-name.small-name Timmi Trinks
                    h3.news-article-headline.small-headline Hello World
                    p.news-article-text.small-text
                        include ./ipsum
        div.col-lg-6.news-article
            div.row
                div.col-lg-6
                    img.news-article-image.img-fluid(src= "/img/news/quer.jpg")
                div.col-lg-6
                    h2.news-article-name.small-name Timmi Trinks
                    h3.news-article-headline.small-headline Hello World
                    p.news-article-text.small-text
                        include ./ipsum
