div.col-lg-12
    div.row.news-article
        div.col-lg-7
            img.news-article-image.img-fluid(src= "/img/news/1.jpg")
        div.col-lg-5
            a(href="")
                h2.news-article-name#news-article-name-top Jasmin Gerat
            h3.news-article-headline Der erste Artikel über Schauspielerin Jasmin Gerat
            p.news-article-text
                include ./jasmin
