| Jasmin Gerat ist in diesem Jahr Aktionsbotschafterin für Unicef und Pampers.
br
br
| Am 5.1. im ZDF
| in der Hauptrolle in der neuesten Charlotte Link-Verfilmung DIE LETZTE SPUR, Regie: Andreas Herzog
br
br
| Am 5.1. im NDR auf dem Roten Sofa zu Gast bei DAS!
br
br
| Ab dem 26.1. als Wendys Mutter in WENDY, Regie: Dagmar Seume bundesweit in den
| Kinos mehr...
