| Timmi Trinks ist seit dem 27.10. in einer der Hauptrollen in ALLEIN GEGEN DIE ZEIT, Regie: Christian Theede bundesweit in den Kinos
br
br
| Am 12.12. im ZDF in SOKO MÜNCHEN - Wutbürger
br
br
| Am 22.12. im ZDF in DIE BERGRETTER - Schneeblind, Regie: Jorgo Pappavassiliou
br
br
| Am 25.1. im ZDF in HELDT - Cybermobbing
br
br
| HAT NEUE FOTOS
