div.col-lg-12
    div.row
        div.col-lg-4.news-article
            h2.news-article-name Jasmin Gerat
            img.news-article-image.img-fluid(src= "/img/news/1.jpg")
            h3.news-article-headline Mal durch den Tür Spion gucken.
            p.news-article-text
                include ./jasmin
        div.col-lg-4.news-article
            h2.news-article-name Ben Münchow
            img.news-article-image.img-fluid(src= "/img/news/2.jpg")
            h3.news-article-headline Rock'nRoll
            p.news-article-text
                include ./ben
        div.col-lg-4.news-article
            h2.news-article-name Timmi Trinks
            img.news-article-image.img-fluid(src= "/img/news/3.jpg")
            h3.news-article-headline Party, Party...
            p.news-article-text
                include ./timmi
