body
  font-family: 'Josefin Sans', sans-serif;
  overflow-x: hidden


a
  text-decoration: none
  color: black

// GENERAL

.img-fluid
  display: block
  margin-left: auto
  margin-right: auto

.page-headline
  margin: 40px auto 6px auto
  line-height: 38px
  display: table
  text-transform: uppercase
  text-align: center
  border-top: 1px solid black
  font-size: 1.25rem

// SIDEBAR

/* Toggle Styles */

sidebar-width = 220px
head-space = 50px

ease-transition(n)
  -webkit-transition: all n ease
  -moz-transition: all n ease
  -o-transition: all n ease
  transition: all n ease

#wrapper
  padding-left: 0
  ease-transition(0.5s)

#wrapper.toggled
  padding-left: sidebar-width

#sidebar-wrapper
  z-index: 1000
  position: fixed
  left: sidebar-width
  width: 0
  height: 100%
  margin-left: - sidebar-width
  overflow-y: auto
  ease-transition(0.5s)

#wrapper.toggled #sidebar-wrapper
  width: sidebar-width

#page-content-wrapper
  width: 100%
  position: absolute
  padding: 15px

#wrapper.toggled #page-content-wrapper
  position: absolute
  margin-right: - sidebar-width

/* Sidebar Styles */

.sidebar-nav
  position: relative
  bottom: 0
  width: sidebar-width
  height: 100%
  margin: 0
  padding: 0
  text-align: right
  overflow: hidden

.sidebar-nav
  a
    text-decoration: none

.sidebar-nav ul
  list-style: none

.sidebar-nav li a
  display: block
  text-decoration: none
  ease-transition(0.1s)

.sidebar-nav li a
  &:hover
    text-decoration: none
    color: #000

@media (min-width: 768px)
  #wrapper
    padding-left: sidebar-width

  #wrapper
    .toggled
        padding-left: 0

  #sidebar-wrapper
    width: sidebar-width

  #wrapper
    .toggled
      #sidebar-wrapper
        width: 0

  #page-content-wrapper
    padding: 20px
    position: relative

  #wrapper
    .toggled
      #page-content-wrapper
        position: relative
        margin-right: 0

// MENU

.sidebar-nav
  text-transform: uppercase

#menu
  position: absolute
  width: sidebar-width
  bottom: 0
  left: 0
  padding-bottom: 60px

.first-level-link
  font-size: 0.82rem
  line-height: 50px
  color: rgb(0,0,0)
  //margin-bottom: -8px

.second-level-menu
  display:none

.second-level-link
  font-size: 0.72rem
  line-height: 18px
  color: rgb(80,80,80)
  &:first-child
    margin-top: 0px
    padding-top: 0px

// NEWS

.mainImage


.news-article
  padding-top: 50px

.news-article-less-padding
  padding: 50px 5px 0px 10px

.row
  .news-article-less-padding:last-child
    padding: 50px 10px 0px 5px


.news-article-name
  margin: 0 auto 6px auto
  line-height: 38px
  display: table
  text-transform: uppercase
  text-align: center
  border-top: 1px solid black
  color: black
  font-size: 1.12rem
  font-weight: normal

#news-article-name-top
  margin-top: 35px

.small-name
  font-size: 0.92rem
  margin-left: 0

.news-article-headline
  text-align: center
  padding: 10px

.small-headline
  padding: 0 0px 2px 0px
  font-size: 1.5rem
  text-align: left

.news-article-text
  padding: 0 40px 0 48px
  font-size: 0.9rem

.small-text
  padding: 0 0 0 0
  font-size: 0.85rem

// ACTORS OVERVIEW

.overview-image
  padding: 5px
  margin: 0

// ACTOR-DETAIL

.col-head-space
  margin-top: head-space

.actor-page-menu
  margin-top: 5px
  float: right
  a
    text-transform: uppercase
    font-size: 0.82rem
    padding-left: 8px
    padding-right: 8px

#basic-data
  padding: 40px 0 0 30px

.basic-data-text
  font-size: 0.82rem

#filmography
  padding: 20px 0 0 30px

#filmography-headline
  font-size: 0.9rem
  text-transform: uppercase

#filmography-table
  font-size: 0.82rem

.film-year
  padding-right: 20px
  display: block

.film-title
  text-transform: uppercase

// CONTACT

.contact-div
  padding: 20px 0 0 30px

.contact-text-headline
  text-transform: uppercase
  margin-bottom: 10px
  font-size: 0.9rem

.text-beside
  padding: 0 0 15px 25px

#impressum-headline
  margin-top: 25px


// ACTOR OVERVIEW

.profile-image-square
  position: relative
  width: 100%
  border: 1px solid black
  text-align: center

.without-border
    border: 0

.profile-image-square:after
  content: ""
  display: block
  padding-bottom: 100%

.profile-image-square-content
  position: absolute
  width: 100%
  height: 100%
  font-size: 2em
  padding-top: 42%
