extend ./base

block title
    title Test Article

block content
    div.col-lg-12.news-article
        a(href="/testCat/allArticles" alt="Category - ")
            h2.news-article-name Category BLASASFDSDFSDFGDFG
        a(href="/testCat/testArticle" alt="Article - ")
            img.img-fluid(src="/img/article/1.jpg")
            h3.news-article-headline.centered-text Hello
                //!= news.headline
            p.news-article-text.big-news-article-text.centered-text Hello
                //!= news.newsText
