extend ./base

block title
    title The Magazine

block content
    div.col-lg-12
        a(href="/category/article_121212")
            h2 First Article
        img.img-fluid(src="/img/article/1.jpg")
        h3 First Article Headline
        p first article text

    div.col-lg-5.contact-div
        //include ./includes/contact/contact-text

    div.col-lg-6.contact-div
        //include ./includes/contact/about
